*{
    font-family: cursive;
    background-color: #f7f1e3;
}

.title{
    text-align: center;
    font-size: 30px;
}
h2{
    font-size: 25px;
    color: blue;
}

.text{
    font-variant: small-caps;
    font-size: 20px;
    text-align: center;
}
